/* UTILITY GENERALE */

/* azzeramento body + colore standard testo */
body {
  padding: 0;
  margin: 0;
  color: #3f5465;
}

/* padding pagina */
[class^=row-] {
  padding: 0 22%;
}

/* floating left */
[class^=col-] {
  float: left;
}

/* clearfix generale */
[class^=row-]:after {
  content: "";
  clear: both;
  display: table;
}

/* bottoni bianchi */
[class^=btn-white-] {
  background-color: #ffffff;
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 3px;
}

/* bottoni arancioni */
[class^=btn-orange-] {
  background-color: #fe775a;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

/* dimensione di tutti i bottoni arancioni nel main */
[class^=btn-orange-main-] {
  padding: 20px 30px;
}

/* larghezza colonne */
[class^=col-50-] {
  width: 50%;
}

/* icona checked arancione in tutta la pagina */
li i {
  color: #fe775a;
  padding-right: 10px;
}

/* HEADER */

/* navbar fixed */
.light-green {
  position: relative;
}

.container-gray-fixed {
  background-color: #f4f9fd;
  height: 65px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
}

/* alternativa per il centramento. abilita anche i due position absolute sottostanti e nascondi il padding */
/* .row-fixed {
  height: 100%;
  position: relative;
} */

.col-50-fixed {
  padding-top: 22px;
  /* position: absolute;
  top: 35%;
  left: 20%; */
}

select.dropdown-head {
  background-color: #f4f9fd;
  color: #3f5465;
  border: none;
}

span.fixed-head {
  margin: 2%;
  padding-left: 4%;
  border-left: 1px solid #899397;
}

.col-50-fixed-right {
  text-align: right;
  padding-top: 15px;
  /* position: absolute;
  top: 25%;
  right: 20%; */
}

button.btn-white-head {
  padding: 7px;
  margin-left: 20px;
}

button.btn-orange-head {
  padding: 7px;
  margin-left: 20px;
}

/* placeholder */
.container-placeholder {
  height: 65px;
}

/* navbar white */
.container-white {
  background-color: #ffffff;
  height: 65px;
}

.col-50-navbar {
  padding-top: 20px;
}

.col-50-navbar-right {
  padding-top: 10px;

}

.navlist li {
  list-style: none;
  float: right;
  padding-left: 10px;
}

.navlist select {
  border: none;
  color: #3f5465;
}

.navlist a {
  text-decoration: none;
  padding: 0 3px;
  color: #3f5465;
}

/* jumbo */
.light-green {
  background-color: #afebe4;
  height: 900px;
}
/* NOTE: cambiando la risoluzione dello schermo, bordi e background inferiore si disallineano */
.container-jumbo {
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  background-position: right;
  height: 700px;
}

.col-40-jumbo {
  width: 40%;
}

.col-40-jumbo h1 {
  font-size: 46px;
  padding-top: 50px;
}

.btn-orange-jumbo {
  padding: 20px 40px;
  margin: 20px 0;
}

.paragraph-small {
  font-size: 14px;
  width: 60%;
}

.border-top {
  background-color: #33475b;
  height: 3px;
}

.border-bottom {
  background-color: #33475b;
  height: 3px;
}

/* MAIN */

/* sezione 1 */
.container-gray-main {
  background-color: #f4f9fd;
}

.col-100-gray {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
}

.col-100-gray img {
  height: 250px;
  width: auto;
}

.col-100-gray h1 {
  font-size: 32px;
}

/* sezione 1 - riga 2 */
.row-white-1 {
  background-color: #ffffff;
  padding: 0;
  margin: 0 22%;
  box-shadow: 0 0 1px 0 gray;
}

.col-20-white {
  width: 20%;
  padding: 50px;
  text-align: center;
}

.col-80-white {
  width: calc(80% - 200px);
  padding: 20px 50px;
  position: relative;
}

.col-80-white p {
  width: 80%;
  padding: 10px 0;
}

/* NOTE: proprietà valida sia per gli span nelle colonne della riga white 1 che in quelle della riga white 2 sottostanti */
.col-80-white span, .col-30-white span {
  display:inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
}

hr.inline-main {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  margin-left: 40px;
}

.col-80-white ul {
  position: absolute;
  left: 10px;
}

.col-80-white ul li {
  float: left;
  list-style: none;
  padding: 10px 40px 0 0;
}

/* sezione 1 - riga 3 */
.col-30-white {
  background-color: #ffffff;
  width: calc(30% - 40px);
  margin: 5% 5% 5% 0;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 1px 0 gray;
}

#main-right {
  margin: 5% 0;
}

.col-30-white hr {
  width: 80%;
  margin-bottom: 20px;
}

.col-30-white ul li{
  list-style: none;
  text-align: left;
}

.col-30-white ul {
  padding-bottom: 40px;
}
